@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-green {
  background-color: #006242;
}

.rewards-background {
  background-image: url(https://stories.starbucks.com/uploads/sites/9/2020/09/Star-Days-1440x700.jpg);
}

.outerbox-bg {
  background-image: url(https://www.starbucks.com/app-assets/844262945b2a8b8cfb29.png);
}
